$bgColor: #fafafa;
$bdColor: #cecbcb;
$selectedTabColor: #0e0e0e;

.App {
  display: flex;
  justify-content: space-around;

  .main-content {
    padding: 10px;
    display: flex;
    width: 99%;

    .check-box span {
      font-size: 14px;
    }

    .list-item-icon {
      margin-right: 10px;
    }

      .side-bar-menu {
        border: 1px solid $bdColor;
        background-color: $bgColor;
        border-radius: 5px;
        height: 97vh;
        overflow-y: scroll;

        .menu-sub-header {
          display: flex;
          align-items: center;
          cursor: default;
        }
      }

    .content {
      background-color: $bgColor;
      height: 97vh;
      margin-left: 10px;
      flex: 3;
      border: 1px solid $bdColor;
      border-radius: 5px;
      overflow-y: scroll;

      .parent-config {
        margin: 0 0 10px 10px;
      }

      .empty-config-message {
        text-align: center;
      }

      .create-new-config-block {
        display: flex;
        align-items: center;
        margin-top: 50px;
        justify-content: space-around;

        .create-new-config {
          display: flex;
          width: 410px;
          justify-content: space-between;

          border: 1px solid #aae536;
          padding: 50px;
          border-radius: 8px;
        }
      }

      .expand-icon {
        margin-right: 10px;
        padding-top: 7px
      }

      .table-edit-icons {
        display: flex;

      }
    }
  }
}