$bgColor: #fafafa;
$bdColor: #cecbcb;
$selectedTabColor: #0e0e0e;

.App {
  display: flex;
  justify-content: space-around;

  .main-content {
    margin-top: 2em;
    display: flex;
    width: 1160px;
    height: 750px;
    background-color: $bgColor;

    .check-box span {
      font-size: 14px;
    }

    .side-bar {
      flex: 1;

      .side-bar-menu {
        margin-top: 15px;
        border: 1px solid $bdColor;
        background-color: $bgColor;
        border-radius: 5px;
        height: 689px;
        overflow-y: scroll;
      }
    }

    .content {
      margin-left: 10px;
      flex: 3;
      border: 1px solid $bdColor;
      border-radius: 5px;
    }
  }
}